body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

nav {
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-size: 125%;
    letter-spacing: .2em;
    padding: 30px;
    color: rgb(130, 91, 156);
}

nav a {
    text-decoration: none;
}

a:hover {
    color: rgb(195, 145, 228);
    letter-spacing: .4em;
}

h1 {
    font-size: 300%;
    letter-spacing: .5em;
    margin: 10% 25% 10% 30%;
    
}



.Contact {
    color: white;
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-end;
    background-color: rgb(130, 91, 156);
    padding: 10px;
    padding-bottom: 10%;
}

h2 {
    font-size: 150%;
    letter-spacing: .3em;
}

address {
    letter-spacing: .2em;
}

p {
    letter-spacing: .2em;
}

img {
    width: 25%;
    padding-left: 20%;
    
}





.messageMe {
    color: rgb(97, 68, 117);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 10%;
    margin-left: 10%;
    
}



.instructions {
    width: 30%;
}

.instructions h2 {
    font-size: 250%;
}

.instructions p {
    font-size: 125%;
}

fieldset {
    grid-area: "form";
    width: 40%;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom:5%;
    border: none;
}

form {
    color: rgb(97, 68, 117);
}

input {
    margin: 5px;
}

textarea {
    margin-top: 5px;
}

button[type="reset"] {
    background-color: rgb(130, 91, 156);
    color: white;
    font-size: 100%;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button[type="reset"]:hover {
    background-color: rgb(195, 145, 228);
}

button[type="submit"] {
    background-color: rgb(76, 97, 35);
    color: white;
    font-size: 100%;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(119, 150, 59);
}

footer {
    grid-area: "footer";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    background-color: rgb(130, 91, 156);
    margin-top: 5%;
    text-decoration: none;
}

small {
    color: white;
    font-size: 100%;
}

.fa-facebook {
    border: 1px solid white;
    color: white;
  }
  
.fa-twitter {
    border: 1px solid white;
    color: white;
  }
  
.fa-google {
    border: 1px solid white;
    color: white;
  }
.fa-pinterest {
    border: 1px solid white;
    color: white;
  }

  footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20px;
    width: 100px;
}


@media (max-width: 600px) {

    nav {
        font-size: 85%;
    }

    .Contact {
        display: block;
    }

    img {
        width: 15%;
        padding: 0;
    }

    h1 {
        font-size: 250%;
        margin: 5% 15% 5% 25%;
    }

    .Contact article {
        padding-left: 125px;
        padding-bottom: 25px;
    }

    h2 {
        font-size: 100%;
    }

    address {
        font-size: 85%;
    }

    p {
        font-size: 85%;
    }

    .messageMe {
        display: block;
    }


    .instructions {
        width: 100%;
    }
    
    .instructions h2 {
        font-size: 150%;
    }
    
    .instructions p {
        font-size: 85%;
    }

    footer {
        font-size: 50%;
        padding: 25px;
    }




}
