body {
    font-family: 'Garamond', 'Georgia', 'Palatino';
}

main {
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-row: 15% 30$ 25% 30%;
    grid-template-areas: 
    "banner"
    "container"
    "videos"
    "form"
}

.banner {
    grid-area: "banner";
    width: 100%;
}



.nav a{
    text-decoration: none;
    justify-content: space-evenly;
    font-size: 200%;
    padding: 5%;
    margin-left: 5%;
    color: black;

} 

.nav a:hover {
    color: rgb(50, 150, 120);
}

.container article a{
    text-decoration: none;
    font-size: 150%;
    color: black;
}

h1 {
    font-size: 600%;
    padding-left: 35%;
}

.container {
    justify-content: space-between;
    grid-area: "container";
    display: flex;
    flex-direction: row;
    margin: 10%;
    padding: 10px;
}

.container article {
    align-content: space-around;
}

img {
    display: block;
    height: 200px;
    border: black solid 2px;
}

.container article a:hover {
    color: rgb(50, 150, 120);
}

.videos {
    grid-area: "videos";
    justify-content: space-evenly;
    display: flex;
    flex-direction:row;
    align-content: space-around;
    margin-bottom: 50px;
}

.videos iframe {
}

form {
    grid-area: "form";
    margin: 10% 1% 20% 40%;
    font-size: 130%;
    background-color: lightgrey;
    border: black solid 1px;
    width: 250px;
    height: 200px;
    padding: 10px;
}

form input {
    margin: 5px;
}


@media (max-width: 600px) {


    main {
        margin: 0;
        padding: 0;
    }

    h1 {
        padding: 0;
    }
    nav {
        display: none;
    }

    .container {
        display: block;
    }

    .container article {
        padding: 10px;
    }

    .videos {
        display: block;
    }

    iframe {
        width: 400px;
        padding-bottom: 25px;
    }

    form {
        margin: 0;
    }

}