header {
    padding:20px;
    margin: 0px;
    text-align:center;
    font-family: Century;
    background-color: #e7e6e4;
    line-height: 10px;
}
.name{
    padding: 0px;
    font-size: 35px;
    letter-spacing: .1em;
}
.title{
    padding: 0px;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: .6em;
}
body {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 10% 25% 25% 25%;
    grid-template-areas:
    "header   header"
    "sidebar      summary"
    "sidebar  workExperience"
    "sidebar   USCA"
    "sidebar   ACLU";
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.sidebar {
    float:left;
    background-color: #424549;
    color: white;
    padding: 30px;
    margin-left: 0px;
    margin-right: 75px;
}

main {
    float: center;
    padding-left: 30px;
}
.name{
    font-size: 40px;
    margin-bottom:0;
}
.title{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0;
}