header {
    text-align:center;
    font-family: Century;
    background-color: blanchedalmond
}
.name{
    font-size: 30px;
}
.title{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.sidebar {
    float:left;
    background-color: black;
    color: white;
    padding: 30px;
}
img {
    border-radius: 50%;   
}
main {
    float: right;
    width: 655px;
}
