html {
    background-color:rgb(244,103,49);
}



nav {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    overflow: hidden;
}


nav a {
    text-decoration: none;
    font-size: 125%;
    letter-spacing: .1em;
    color: rgb(244,103,49);
}


nav a:hover {
    color: white;
    transition: ease-in 500ms;
}

.fa-facebook {
    font-size: 115%;
    color: rgb(244,103,49);
  }
  
.fa-instagram {
    font-size: 115%;
    color: rgb(244,103,49);
  }

main {
    background-color: rgb(27,27,27);
    color: white;
    margin: 5% 10% 5% 10%;
}

h1 {
    font-size: 400%;
    letter-spacing: .2em;
    padding-top: 3%;
    text-align: center;
}

p {
    font-size: 125%;
    line-height: 1em;
    padding: 0px 100px 100px 100px;

}

@media (max-width: 576px) {

    h1 {
        font-size: 300%;
    }

    p {
        padding: 0px 50px 50px 50px;
    }

    nav a {
        font-size: 85%;
    }

    .fa-facebook {
        font-size: 75%;
        
      }
      
    .fa-instagram {
        font-size: 75%;
      }
}